
CFLAGS?=-O2 -g
CPPFLAGS?=
LDFLAGS?=
LIBS?=

DESTDIR?=
PREFIX?=/usr/local
EXEC_PREFIX?=$(PREFIX)
INCLUDEDIR?=$(PREFIX)/include
LIBDIR?=$(EXEC_PREFIX)/lib

CFLAGS:=$(CFLAGS) -Wall -Wextra
CPPFLAGS:=$(CPPFLAGS) -D__is_myos_libc -Iinclude
KLIB_CFLAGS:=$(CFLAGS) -ffreestanding -fbuiltin
KLIB_CPPFLAGS:=$(CPPFLAGS) -D__is_myos_kernel

ARCHDIR:=arch/$(HOSTARCH)

include $(ARCHDIR)/make.config

CFLAGS:=$(CFLAGS) $(ARCH_CFLAGS)
CPFLAGS:=$(CPPFLAGS) $(ARCH_CPPFLAGS)
KLIB_CFLAGS:=$(KLIB_CFLAGS) $(KERNEL_ARCH_CFLAGS)
KLIB_CPFLAGS:=$(KLIB_CPPFLAGS) $(KERNEL_ARCH_CPPFLAGS)

FREEOBJS:=\
$(ARCH_FREEOBJS) \
stdio/printf.o \
stdio/putchar.o \
stdio/puts.o \
stdlib/abort.o \
string/memcmp.o \
string/memcpy.o \
string/memmove.o \
string/memset.o \
string/strlen.o \

OBJS:=\
$(FREEOBJS) \

KLIB_OBJS:=$(FREEOBJS:.o=.klib.o)

KLIB=klib.a

.PHONY: install-klib-headers install-klib

klib.a: $(KLIB_OBJS)
	$(AR) rcs $@ $(KLIB_OBJS)

%.klib.o: %.c
	$(CC) -c $< -o $@ -std=gnu11 $(KLIB_CFLAGS) $(KLIB_CPPFLAGS)

%.klib.o: %.S
	$(CC) -c $< -o $@ $(KLIB_CFLAGS) $(KLIB_CPPFLAGS)

install-klib-headers:
	mkdir -p $(DESTDIR)$(INCLUDEDIR)
	cp -RTv include $(DESTDIR)$(INCLUDEDIR)

install-klib: $(KLIB)
	mkdir -p $(DESTDIR)$(LIBDIR)
	cp $(KLIB) $(DESTDIR)$(LIBDIR)
